<!DOCTYPE html>

<html>

<head>
    <title>About Us</title>
</head>


<body>
    <h3>About Us</h3>
    <h6>Welcome {{name}}, learn more about us..</h6>
    <br></br>

    <div>


        <p>
        Progetto per l'esame di Reti Di Calcolatori <br><br>

        L'esame consiste nella progettazione e sviluppo di un applicazione web utilizzando NodeJS e framework Express. <br><br>

        La pagina del corso si può trovare su <a href="https://piazza.com/class/k724e3zuy9k4ai">Piazza</a> nei corsi di Spring 2020.<br><br>
        
        La repository per visualizzare il codice sorgente del progetto e la documentazione associata è disponibile su <a href="https://github.com/guidellarocca/progettoreti">GitHub</a><br>
        </p>

    </div>

    <h3>Contributors</h3>
    <div>
        <p>

        Lorenzo Guidi (Matricola: 1710027) <a href = "mailto: guidi.1710027@studenti.uniroma1.it">Send Email</a> <br>
        Guido della Rocca (Matricola: 1711308) <a href = "mailto: dellarocca.1711308@studenti.uniroma1.it">Send Email</a><br>
        
        </p>
    </div>

    
</body>

</html>