<!DOCTYPE html>

<html>

<head>
    <title>About Us</title>
</head>


<body>
    <h3>About Us</h3>
    <h6>Welcome {{name}}, learn more about us..</h6>
    <br></br>

    <div>


        <p>
        Progetto per l'esame di Reti Di Calcolatori <br><br>

        L'esame consiste nella progettazione e sviluppo di un applicazione web utilizzando NodeJS e framework Express. <br><br>

        La pagina del corso si può trovare su <a href="https://piazza.com/class/jmkayw5u6h1f2">Piazza</a> nei corsi di  Fall 2018.<br>
        </p>

    </div>

    
</body>

</html>